html, body
{
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: black;
}

a:link {
    color: #b87bcc;
}

a:visited {
    color: #7764bc;
}

a:hover {
    color: #ffbbce;
}

a:active {
    color: #6b4378;
}

.content {
	position: relative;
	left: 0;
	right: 0;
	z-index: 2;
}

.background-image {
	background-image: url('images/background.png');
	background-size: cover;
	display: block;
	filter: blur(10px);
	-webkit-filter: blur(10px) saturate(40%);
	-moz-filter: blur(10px) saturate(40%);
	-o-filter: blur(10px) saturate(40%);
	-ms-filter: blur(10px) saturate(40%);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10'); /* IE lte 9 */
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;

	/* Hide blurry edges */
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-o-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
	transform-origin: center center;

	z-index: 1;
}

.main-feed
{
	width: 900px;
	margin: 0px auto;
	background: #002832;

	-moz-box-shadow: 0 0 20px #190C2A;
	-webkit-box-shadow: 0 0 20px #190C2A;
	box-shadow: 0 0 20px #190C2A;
}

.content-container
{
	padding: 50px;
	text-align: left;
	background: #002832;

	-webkit-box-shadow: inset 0px 19px 15px -15px #190C2A;
    -moz-box-shadow:    inset 0px 19px 15px -15px #190C2A;
    box-shadow:         inset 0px 19px 15px -15px #190C2A;
}

#header
{
	background-color: #ffcc00;
	text-align: left;

	padding-top: 20px;
}

#company-logo
{
	width: 200px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.centered-image
{
	max-width: 100%;
	height: auto;
	text-align: center;
	display: block;
	margin: 0px auto;
}

.summary-text
{
	color: white;
	font-family: 'Copse', serif;
	font-weight: normal;
}

.highlighted-summary-text
{
	color: #ffcc00;
}

#copyright-footer
{
	padding-bottom: 30px;
	color: white;
	text-align: center;
	font-family: 'Copse', serif;
	font-weight: normal;
	font-size: 1.2em;
}
